*{
    font-family: Arial, Helvetica, sans-serif;
}
.green-text{
    color: green;
}
.red-text{
    color: red;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 102, 255) 60%, white 40%);
}
header{
    ul{
        list-style: none;
        padding: 5px 15px;
        margin: 5px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        border-radius: 8px;
        background: white;
        margin-top: 7px;
        .fa-circle-user{
            color: rgb(46, 46, 46);
            font-size: 1.7em;
            &:hover{
                color: #4b4b4b;
                cursor: pointer;
                transform: scale(1.07);
                transition: all 0.1s ease-in-out;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            &:active{
                color: #2e2e2e;
                transform: scale(1.01);
                transition: all 0.05s ease-in-out;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
.container{
    display: flex;
    height: 100%;
}
.title{
    padding: 0 10px;
    margin: 0 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.3em;
    height: 40%;
    h1{
        margin: 0;
        margin-top: 10px;
    }
    p{
        color: rgba(255, 255, 255, 0.5);
    }
    .dropdowns{
        display: flex;
        gap: 10px;
        .dropdown{
            button{
                padding: 5px;
                font-size: 1em;
                border-radius: 5px;
                border: none;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                cursor: pointer;
            }
            .content{
                display: none;
                text-align: start;
                background-color: white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                z-index: 1;
                max-width: 200px;
                min-width: 100px;
                ul{
                    width: 100%;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    li{
                        list-style: none;
                        margin-bottom: 5px;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.1);
                            cursor: pointer;
                            transition: background-color 0.1s ease-in-out;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                            transform: scale(1.01);
                        }
                    }
                }
            }
        }
    }
}
.summary-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.summary{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    .box{
        border-radius: 10px;
        min-width: 400px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        ul{
            margin: 0 10px;
            padding: 0;
        }
        li{
            list-style: none;
        }
        .icon-li{
            display: flex;
            gap: 10px;
            .icon{
                display: flex;
                justify-content: end;
                width: 20%;
                margin-right: 20px;
                .fa-piggy-bank{
                    color: #0044ff;
                    background: rgba(0, 85, 255, 0.35);
                    backdrop-filter: blur(1px);
                    font-size: 2.5em;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    height: fit-content;
                    width: fit-content;
                }
                .fa-arrow-trend-up{
                    color: #0044ff;
                    background: rgba(34, 255, 0, 0.4);
                    backdrop-filter: blur(1px);
                    font-size: 2.5em;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    height: fit-content;
                    width: fit-content;
                }
                .fa-arrow-trend-down{
                    color: #0044ff;
                    background: rgba(255, 0, 0, 0.35);
                    backdrop-filter: blur(1px);
                    font-size: 2.5em;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    height: fit-content;
                    width: fit-content;
                }
            }
            .text{
                width: 100%;
                min-width: 80%;
                p{
                    color: rgba(0, 0, 0, 0.65)
                }
            }
        }
        h1{
            font-size: 1.8em;
        }
        h2{
            font-size: 1.5em;
        }
        p{
            font-size: 1.3em;
        }
    }
}
.chart-categories-container{
    display: flex;
    width: 100%;
    margin: 0 7px;
    height: 55%;
    transform: translateY(-140px);
}
.categories{
    width: 800px;
    height: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.chart{
    width: 40%;
    height: 100%;
    display: flex;
    justify-self: end;
    margin-right: 60px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}